.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#health-display-wrapper, #health-button-wrapper {
  display: flex;
  padding: 10px 20px;
}

.health-button {
  width: 300px;
  padding: 10px 30px;
  margin: 0 10px;
  border-radius: 10px;
  cursor: pointer;
}

#player-health {
  border: 2px solid rgba(173, 216, 230, 1);
  background-color: rgba(173, 216, 230, 0.3);
}

#monster-health {
  border: 2px solid rgba(250, 128, 114, 1);
  background-color: rgba(250, 128, 114, 0.3);
}

.health-box {
  width: 300px;
  margin: 0 10px;
  border-radius: 10px;
}
